.colRight{
    OVERFLOW: auto;
    HEIGHT: 500PX;
    MARGIN-TOP: -58PX;
}
.colRight  table {
    font-family: "Poppins", sans-serif;
    font-size: 125%;
    white-space: nowrap;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid black;
  }
.colRight  table td{
  border: 1px solid black;
  padding: 0.5rem 1rem;
}
  


.colRight table th {
    border: 1px solid black;
    padding: 0.5rem 1rem;
  }
 table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 25vw;
    background: white;
    text-align: center;
  }
.colRight  table td {
    background: #fff;
    padding: 4px 5px;
    text-align: center;
    font-size: 10px;
    overflow: hidden;
    overflow-wrap: unset;
    white-space: initial;

  }
  
.colRight  table tbody th {
    font-weight: 100;
    font-style: italic;
    text-align: left;
    position: relative;
  }
.colRight  table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }
.colRight  table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
  }
 
.colRight  caption {
    text-align: left;
    padding: 0.25rem;
    position: sticky;
    left: 0;
  }

  .tdFont{
    font-size: 11.5px;
    color: rgba(34, 42, 66, 0.7) !important;
    font-weight: 600 !important;
    font-style: normal !important;
    word-wrap: break-word;
    white-space: initial;
  }
  
  .colRight::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
  .colRight::-webkit-scrollbar-track {
    border: 1px solid #1d8cf8;
    border-radius: 10px;
    }
  .colRight::-webkit-scrollbar-thumb {
    background: #1d8cf8;
    border-radius: 10px;
    }
  .colRight::-webkit-scrollbar-thumb:hover {
    background: #1d8cf8;
    }