.headerHome{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
}

.titleHome{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    color: #d8541c !important;
}

.row1{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 150px !important;
    margin-right: 150px !important;
}


.labelImg{
    font-size: 12rem;
    color: white;
    width: 20rem;
    height: 20rem;
    background-color: #d8541c;
    border: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.salute{
    margin-left: 3rem;
    font-size: 3rem;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.sub{
    margin-left: 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.prodimg{
    height: 250px;
}

@media screen and (max-width: 768px){

    .labelImg{
        display: none;
    }
    .prodimg{
        display: none;
    }

    .titleHome{
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    .salute{
        margin: 0;
        font-size: 2rem !important;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .sub{
        margin: 0;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}