*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255) !important;
    
    position: relative !important;
}

.card-title-name{
    color: #ffffff !important;
    font-size: 2rem  !important;
    font-weight: 700 !important;
    text-align: center;
}

.card-header-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0 !important;
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;
}

.card-login{
    background-color: rgb(160, 70, 18) !important;
    backdrop-filter: blur(3px);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4) !important;
}

.input{
    background-color: rgba(255, 255, 255, 0.87) !important;
    color: rgb(0, 0, 0) !important;
}

.forgot{
    color: #ffffff;
    text-decoration: underline !important;
}

.forgot:hover{
    color:rgb(28, 28, 88) !important;
}

.inputadd{
    background-color: rgba(255, 255, 255, 0.87) !important;
    color: rgb(48, 48, 48) !important;
    border-radius: 10px 0px 0px 10px;
}

.input-group-prepend, .input-group-text, i{
    color: black !important;
}

#buttonLogin{
    background: rgb(255, 255, 255) !important;
    color: rgb(160, 70, 18);
}